In [8]:
import pandas as pd 
import geopandas as gpd
import requests
import urllib.parse
import json
api_key = 'AIzaSyCWX6hvR2Nf4GF8JqIbaLrrA5DEEkvVMdM'

In [16]:
df = gpd.read_file('https://raw.githubusercontent.com/hantswilliams/HHA_507_2023/main/WK7/assignment7_slim_hospital_addresses.csv')
# Select all rows between starting at row 2 and ending at row 4
df = df.iloc[:, 1:4]
df['FULL_ADDRESS'] = df['ADDRESS'] + ' ' + df['CITY'] + ' ' + df['STATE']
listofaddresses = df['FULL_ADDRESS'].sample(100)
listofaddresses

google_response = []
comp = 0

In [17]:
for address in listofaddresses:
    search = 'https://maps.googleapis.com/maps/api/geocode/json?address='

    location_raw = address
    location_clean = urllib.parse.quote(location_raw)

    url_request_part1 = search + location_clean + '&key=' + api_key

    response = requests.get(url_request_part1)
    response_dictionary = response.json()
    lat_long = response_dictionary['results'][0]['geometry']['location']
    lat_response = lat_long['lat']
    lng_response = lat_long['lng']

    final = {'address': address, 'lat': lat_response, 'lon': lng_response}
    google_response.append(final)
    comp = comp + 1
    print(f'Addresses Completed:{comp}')

Addresses Completed:1
Addresses Completed:2
Addresses Completed:3
Addresses Completed:4
Addresses Completed:5
Addresses Completed:6
Addresses Completed:7
Addresses Completed:8
Addresses Completed:9
Addresses Completed:10
Addresses Completed:11
Addresses Completed:12
Addresses Completed:13
Addresses Completed:14
Addresses Completed:15
Addresses Completed:16
Addresses Completed:17
Addresses Completed:18
Addresses Completed:19
Addresses Completed:20
Addresses Completed:21
Addresses Completed:22
Addresses Completed:23
Addresses Completed:24
Addresses Completed:25
Addresses Completed:26
Addresses Completed:27
Addresses Completed:28
Addresses Completed:29
Addresses Completed:30
Addresses Completed:31
Addresses Completed:32
Addresses Completed:33
Addresses Completed:34
Addresses Completed:35
Addresses Completed:36
Addresses Completed:37
Addresses Completed:38
Addresses Completed:39
Addresses Completed:40
Addresses Completed:41
Addresses Completed:42
Addresses Completed:43
Addresses Completed:44
Addresses Completed:45
Addresses Completed:46
Addresses Completed:47
Addresses Completed:48
Addresses Completed:49
Addresses Completed:50
Addresses Completed:51
Addresses Completed:52
Addresses Completed:53
Addresses Completed:54
Addresses Completed:55
Addresses Completed:56
Addresses Completed:57
Addresses Completed:58
Addresses Completed:59
Addresses Completed:60
Addresses Completed:61
Addresses Completed:62
Addresses Completed:63
Addresses Completed:64
Addresses Completed:65
Addresses Completed:66
Addresses Completed:67
Addresses Completed:68
Addresses Completed:69
Addresses Completed:70
Addresses Completed:71
Addresses Completed:72
Addresses Completed:73
Addresses Completed:74
Addresses Completed:75
Addresses Completed:76
Addresses Completed:77
Addresses Completed:78
Addresses Completed:79
Addresses Completed:80
Addresses Completed:81
Addresses Completed:82
Addresses Completed:83
Addresses Completed:84
Addresses Completed:85
Addresses Completed:86
Addresses Completed:87
Addresses Completed:88
Addresses Completed:89
Addresses Completed:90
Addresses Completed:91
Addresses Completed:92
Addresses Completed:93
Addresses Completed:94
Addresses Completed:95
Addresses Completed:96
Addresses Completed:97
Addresses Completed:98
Addresses Completed:99
Addresses Completed:100

In [18]:
df_geo = pd.DataFrame(google_response)
df_geo.sample(5)

                                 address        lat         lon
97  1501 WEST ELK AVENUE ELIZABETHTON TN  36.346080  -82.249672
51              501 BATH ROAD BRISTOL PA  40.103468  -74.866886
56         1717 ARLINGTON ST CALDWELL ID  43.654411 -116.694674
55           803 POPLAR STREET MURRAY KY  36.606764  -88.309831
80      9900 VETERENS DRIVE SW TACOMA WA  47.137402 -122.574014

In [19]:
df_geo.to_csv('geocoding.csv')